.card-compo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.carousel-control-prev, .carousel-control-next , .carousel-indicators{
    display: none;
}
.bannerSecond{
    background-image: url('../../img/banner2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 50vh;
    display: flex;
    align-items: center;
    
}
.img-resize{
    border-radius: 100px;
}

@media (max-width :768px)  {
    .card-compo{
        
        grid-template-columns: repeat(1,1fr);
        gap: 0px;
    }
    
}

  